<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          v-if="$route.fullPath.includes('/chat')"
          flat
          dense
          to="/"
          v-go-back.single
          icon="arrow_back"
          label="Back"
        />
        <!-- <q-btn
          v-else
          flat
          dense
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />-->

        <q-toolbar-title class="absolute-center">{{ title }}</q-toolbar-title>

        <q-btn
          v-if="!userDetails.userId"
          class="absolute-right q-pr-sm"
          flat
          dense
          to="/auth"
          icon="account_circle"
          label="Login"
        />
        <q-btn
          v-else
          @click="logoutUser"
          class="absolute-right q-pr-sm"
          flat
          dense
          icon="account_circle"
        >
          Logout
          <br />
          {{ userDetails.name }}
        </q-btn>
      </q-toolbar>
    </q-header>

    <!-- <q-drawer v-model="leftDrawerOpen" show-if-above bordered content-class="bg-grey-2">
      <q-list>
        <q-item-label header>Main Menu</q-item-label>
        <q-item clickable tag="a" to="/">
          <q-item-section avatar>
            <q-icon name="person" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Docs</q-item-label>
            <q-item-label caption>quasar.dev</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>-->

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState, mapActions } from "vuex";
import mixinOtherUserDetail from "src/mixins/mixin-other-user-details.js";

export default {
  mixins: [mixinOtherUserDetail],

  computed: {
    ...mapState("store", ["userDetails"]),
    title() {
      const currentPath = this.$route.fullPath;
      if (currentPath === "/") return "VChat";
      else if (currentPath.includes("/chat")) return this.otherUserDetails.name;
      else if (currentPath === "/auth") return "Login";
    }
  },
  methods: {
    ...mapActions("store", ["logoutUser"])
  },
  data() {
    return {
      leftDrawerOpen: false
    };
  }
};
</script>

<style lang="stylus">
.q-toolbar {
  .q-btn {
    line-height: 1.2;
  }
}
</style>
